@font-face {
  font-family: 'Roboto', sans-serif;
}
body {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
}
.container {
  clear: both;
  content: "";
  display: table;
}
h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #353738;
  text-align: center;
}
p.text {
  color: #848789;
  text-align: justify;
  line-height: 25px;
  font-size: 16px;
  margin-right: 65px;
  margin-left: 65px;
}
* {
  box-sizing: border-box;
}
img {
  padding: 0;
  border: none;
  max-width: 100%;
}
a {
    text-decoration: none;
}
/* header */
.header {
  background-image: url(images/bg.jpg);
  background-size: cover;
  margin-top: -16px;
  width: 100%
}
.nav {
  background-image: url(images/logo.png);
  background-position: 50% 35px;
  background-repeat: no-repeat;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}
.nav li {
  display: inline-block;
  list-style: none;
  padding-bottom: 720px;
  padding-top: 60px;
  width: 16%;
}
.nav a {
  color: #4d4959;
  font-size: 13px;
  line-height: 1.2;
  padding-left: 15px;
  padding-right: 15px;
}

.nav li:nth-child(3)
 {
  margin-left:180px;
}
.nav a:hover {
  color: red;
}

/* info */
.info {
  background-image: url(images/Icon.png);
  background-repeat: no-repeat;
  background-position: 50% 117px;
}
.info h2 {
  padding-top: 190px;
  text-align: center;
  text-transform: uppercase;
}
.info p {
  text-align: center;
  padding-left: 280px;
  padding-right: 280px;
  font-size: 18px;
  line-height: 34px;
  padding-bottom: 110px;
  color: #848789;
  margin-bottom: 37px;
}

/* information2 */
.information2 {
  display: flex;
  justify-content: flex-start;
}
.information2 img {
  opacity: .9;
}
.brooks {
  flex: 2 1 66%;
}
.article {
  background-image: url(images/Icon2.png);
  background-repeat: no-repeat;
  background-position: 50% 55px;
  flex: 1 1 33%;
  width: 33%;
  position: relative;
}
.information2 h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
.article img {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* information3 */
.information3 {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
}
.information3 div {
  float: left;
  width: 33%;
}
.information3 h2 {
  margin-top: 100px;
  margin-bottom: 30px;
}
.information3 img {
  opacity: .9;
}
.information3 .bike2 {
  background-image: url(images/icon3.png);
  background-repeat: no-repeat;
  background-position: 50% 61px;
  flex: 1 1 33%;
}
.bike2 {
  position: relative;
}
.bike2 h2 {
  padding-top: 10px;
}
.bike2 img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bike2 .picture {
  flex: 2 1 66%;
}

/* information4 */
.information4 {
  display: flex;
  justify-content: flex-start;
}
.information4 .bike3 {
  flex: 1 1 534px;
  position: relative;
  background-image: url(images/icon4.png);
  background-repeat: no-repeat;
  background-position: 50% 61px;
}
.information4 img {
  opacity: .9;
}
.bike3 img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bike3 h2 {
  margin-top: 120px;
  margin-bottom: 30px;
}

/* info */
.info span {
  color: #848789;
}
.twitter {
  background-image: url(images/icon5.png);
  background-position: 50% 125px;
  background-repeat: no-repeat;
}
.twitter h2 {
  text-transform: none;
}

/* btn */
.discover {
  background-color: #282f35;
  margin: 0 auto;

}
.btn {
  display: inline-block;
  width: 300px;
  border: 1px solid #94979a;
  padding: 18px 65px;
  margin: 75px 650px;
  font-size: 14px;
  color: white;
  text-align: center;
}
.btn:hover {
  color: red;
}
/* subscribe  */
.subscribe {
  background-image: url(images/logo.png);
  background-position: 50% 109px;
  background-repeat: no-repeat;
  padding-top: 233px;
  max-width: 534px;
  margin: 0 auto;
}
.subscribe p {
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  margin-bottom: 35px;
  text-align: center;
}
.subscribe fieldset {
  border: none;
  padding-top: 0px;
  width: 534px;
  margin-left: auto;
  margin-right: auto;
}
input[type="submit"] {
  background-color: #64c29e;
  padding: 20px 45px;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  max-width: 126px;
}
input[type="submit"]:hover {
  color: navy;
}
input[type="text"] {
  font-size: 20px;
  line-height: 24px;
  padding: 22px 50px 19px 30px;
  margin-right: 10px;
}

/* footer */
.footer {
  display: flex;
  flex-flow: row nowrap;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 105px;
}
.footer .contact {
  flex: 1 1 33%;
  max-width: 243px;
  margin-left: 280px;
}
.footer .social {
  flex: 1 1 33%;
  max-width: 235px;
}
.footer .madeby {
  flex: 1 1 33%;
  max-width: 235px;
}
.footer p {
  color: #848789;
  font-size: 14px;
  line-height: 18px;
}
.footer .madeby {
  background-image: url(images/YEBOLogo.png);
  background-repeat: no-repeat;
  background-position: 100px 5px;
}
